.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;
}
th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #EDEDED;
	font-size: 14px;
	border-top: 1px solid #ddd;
}

.work-books {
    display: table;
    width: 0%;
}

td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
	background-color: lightblue;
}

.td-fin-status {
    background-color: green;
}

.td-not-fin-status {
    background-color: pink;
}