#grey_title {
background-color : grey;
}

#red_title {
    background-color : red;
}

#green_title {
    background-color : green;
}

#yellow_title {
    background-color : yellow;
}

h1 {
    color: red;
}

h4 {
    color:grey;
    margin-left: 20px;
}

.lists {
    margin-left: 20%;
    margin-bottom: 1%;
}


div {
    width: 44.4%;
    margin: 2px;
}

img {
    width: 1000%;
}

.step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mars_embl {
    width: 40px;
    height: 40px;
}

.img_inline_h2 {
    display: flex;
    align-items: center;
}

.title_distr {
    margin-left: 22%;
    margin-bottom: 1%;
}