{% extends "base.html" %}
{% block user_name %}
    {% if user %}
        <div>{{ user.name }}  {{ user.surname }}</div>
    {% endif %}
{% endblock %}
{% block content %}

<h1>Works log</h1>
<div class="work-books">
    <div>
        <a href="/department_table" class="btn btn-warning">
            Перейти к списку департаментов
        </a>
    </div>
    {% for job in results %}
        <h4>Action #{{ job.id }}</h4>
            <div>
                <a href="/work_form" class="btn btn-warning">
                    Добавить
                </a>
            </div>
            {% if current_user.is_authenticated and current_user.position.lower() == 'captain' %}
             <div>
                <a href="/works_book/{{ job.id }}" class="btn btn-warning">
                    Изменить
                </a>
                 <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger">
                     Удалить
                 </a>
            </div>
            {% elif current_user.is_authenticated and current_user.id == job.team_leader %}
            <div>
                <a href="/works_book/{{ job.id }}" class="btn btn-warning">
                    Изменить
                </a>
                 <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger">
                     Удалить
                 </a>
            </div>
            {% endif %}
             <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Team Leader</th>
                        <th>Job Description</th>
                        <th>Work Size (hours)</th>
                        <th>Collaborators</th>
                        <th>End Date</th>
                        <th>Is Finished</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ job.team_leader }}</td>
                        <td>{{ job.jobs }}</td>
                        <td>{{ job.work_size }}</td>
                        <td>{{ job.collaborators }}</td>
                        <td>{{ job.end_date }}</td>
                        <td class="{% if job.is_finished %}td-fin-status{% else %}td-not-fin-status{% endif %}">
                            {% if job.is_finished %}Is finished{% else %}Is not finished{% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
    {% endfor %}
</div>

<style>
.td-fin-status {
    color: green;
    font-weight: bold;
}

.td-not-fin-status {
    color: red;
    font-weight: bold;
}
</style>
{% endblock %}