{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        <div>
            {{ form_access.csrf_token }}
        </div>
        {% for field in form_access if field.name != 'csrf_token' %}
            <div>
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}